{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'mainapp/index.css' %}">
    <link rel="shortcut icon" type="jpg" href="https://img.favpng.com/15/25/22/computer-icons-hyperlink-favicon-url-shortening-portable-network-graphics-png-favpng-58gxibyCDxRTCDRBPm931hYdE.jpg"/>
    <title>URL Shortener</title>
  </head>
  <body>
    <main>{% block content %} {% endblock content %}</main>
  </body>
</html>